/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
body{font:13px/1.1 Helvetica,sans-serif;}
p{line-height:1.6;}
/* Example page */
strong{font-weight:bold;}
header{height:100px;}
header img{float:left;margin:14px 0 0 14px}
header h1{margin-left:14px;float:left;font-size:20px;line-height:100px;}

i{
  font-style: italic;
}

b{
  font-weight: bold;
}

section {
    min-height: 1000px;
    position: relative;
    width: 100% !important;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section:nth-of-type(1){background:whitesmoke;height:1200px;}
section:nth-of-type(2){background:black;height:1600px;}

.home-page>div:nth-of-type(1){
    background: url(../img/bottle.jpeg) 50% 0 no-repeat fixed;
    margin: 0;
    height: 1200px;
    position:absolute;
    top:0;left:0;
    width:100%;
}

.about-page>div:nth-of-type(2) {
    background: url(../img/nike.png) 50% 0 no-repeat fixed;
    margin: 0;
    height: 1600px;
    position:absolute;
    top:0px;left:100px;
    width:100%;
}

.about-page>div:nth-of-type(1) {
    background: url(../img/nike-bg.jpeg) 50% 0 no-repeat fixed;
    margin: 0;
    height: 1600px;
    position:absolute;
    width:100%;
    top:0;left:0;
}

.studio-page>div:nth-of-type(1) {
    background: url(../img/bottle.jpeg) 50% 0 no-repeat fixed;
    margin: 0;
    height: 1600px;
    position:absolute;
    width:100%;
    top:0;left:0;
}

.studio-page>div:nth-of-type(2) {
    background: url(../img/nike.png) 50% 0 no-repeat fixed;
    margin: 0;
    height: 1600px;
    position:absolute;
    top:0px;left:100px;
    width:100%;
}

section h1{color:#4F9426;width:300px;font-size:65px;margin-bottom:14px;}
section p{color:black;width:300px;}
section article{position:absolute;top:240px;left:40px;width:300px;z-index:4;}

.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}

.header-container{
  width: 100%;
  height: 50px;
  background-color: #233F4B;
  position: fixed;
  z-index: 999;
  opacity:0.4;
  transition: opacity 1s;
  -webkit-transition: opacity 1s; /* Safari */
}
.header-container:hover{
  opacity:1;
}
.logo{
  width:200px;
  height:50px;
  float:left;
  margin:0 25px 0 25px;
}
.main-menu{
  height: 50px;
  float:left;
}
.main-menu ul{
  float:left;
}
.main-menu ul li{
  float: left;
  height:50px;
  margin:0 25px 0 25px;
  line-height: 50px;
}
.main-menu ul li a{
  line-height:50px;
  text-decoration: none;
  font-size:25px;
  text-transform:uppercase;
  font-family:Arial;
  color:#FFFFFF;
  transition: text-shadow 1s;
  -webkit-transition: text-shadow 1s; /* Safari */
  transition: color 1s;
  -webkit-transition: color 1s; /* Safari */
}
.main-menu ul li a:hover{
  text-shadow: 0 0 0.2em #595, 0 0 0.2em #595, 0 0 0.2em #595;
}
.main-menu ul li a.active{
  color:#59506D;
}

